h2 {
  margin-top: 50px;
  font-size: 1.8rem;
}

h2 small {
  font-size: 1.2rem;
}

.image-container {
  margin-top: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
