.comparing-webAssembly-and-javaScript-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.comparing-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparing-image {
  width: 400px; 
  height: 300px; 
  object-fit: cover;
}