button {
  margin-left: 10px;
  padding: 0.7em 1.7em;
  font-size: 1rem;
  color: var(--bg-color);
  border-radius: 0.5em;
  background: var(--input-bg);
  border: 1px solid var(--input-bg);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 1px 1px 6px var(--shadow-dark), -1px -1px 6px var(--shadow-light);
}

button:active {
  color: #666;
  box-shadow: inset 2px 2px 6px var(--shadow-dark), inset -2px -2px 6px var(--shadow-light);
}